name: Build and Push Docker Image

on:
  schedule:
    - cron: '0 0 * * *' # Executa todos os dias à meia-noite
  workflow_dispatch: # Permite execuções manuais    

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Get latest Flexget version
      id: latest_version
      run: |
        VERSION=$(curl --silent "https://api.github.com/repos/Flexget/Flexget/releases/latest" | grep '"tag_name":' | sed -E 's/.*"([^"]+)".*/\1/')
        echo "LATEST_VERSION=${VERSION}" >> $GITHUB_ENV

    - name: Build and push Docker image with version and latest tags
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        platforms: linux/arm/v7
        tags: diogosena/flexget-armv7:${{ env.LATEST_VERSION }},diogosena/flexget-armv7:latest

